<ion-header>
  <ion-toolbar>
    <ion-title>
      Todo list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  fullscreen
  [scrollEvents]="true"
  >
  <ion-item style="margin-inline: 10px">
    <ion-input
      type="text"
      class="width"
      placeholder="filter"
     [(ngModel)]="inputText"
    ></ion-input>
    <ion-icon name="search-outline" (click)="filterData(inputText)"></ion-icon>
  </ion-item>

  <ion-list *ngIf="!isFiltered">
    <ion-card *ngFor="let data of dataList">
      <ion-item>
        <ion-list-header>{{data.title}}</ion-list-header>
        <ion-checkbox [(ngModel)]="data.done"></ion-checkbox>
      </ion-item>
     <ion-item>
      <ion-card-content class="fullwidth ion-justify-content-between" style="display: flex; padding: 0;">
        {{data.content}}
        <ion-icon name="trash-outline" color="danger" (click)="removeData(data)"></ion-icon>
      </ion-card-content>
     </ion-item>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="isFiltered" >
    <ion-card *ngFor="let data of filteredData">
      <ion-item>
        <ion-list-header>{{data.title}}</ion-list-header>
        <ion-checkbox [(ngModel)]="data.done"></ion-checkbox>
      </ion-item>
     <ion-item>
      <ion-card-content class="fullwidth ion-justify-content-between" style="display: flex; padding: 0;">
        {{data.content}}
        <ion-icon name="trash-outline" (click)="removeData(data)"></ion-icon>
      </ion-card-content>
     </ion-item>
    </ion-card>
  </ion-list>

  <form [formGroup]="addItem" class="ion-padding-top">
    <ion-title>Add new item</ion-title>
    <div class="inputBorder" style="display: flex; justify-content: space-between; align-items: center; padding: 0 20px;">
      <ion-input
        type="text"
        class="width"
        placeholder="item name"
        formControlName="name"
      ></ion-input>
      <ion-input
        type="text"
        class="width"
        placeholder="item content"
        formControlName="content"
      ></ion-input>
      <ion-icon
        name="add-circle-outline"
        style="font-size: 25px;"
        (click)="saveData()"
        [disabled]="addItem.invalid"
      ></ion-icon>
    </div>
  </form>

</ion-content>
